<div class='panel panel-default'>
  <div class='panel-heading'>
    Host a co-working
  </div>
  <div class='panel-body'>
    <div class='container'>
      <%= form_for @office, html: {multipart: true} do |f| %>
          <%= render 'shared/errors' %>
          <div class='row'>
            <div class='col-md-4 select'>
              <div class='form-group'>
                <label>Office type</label>
                <%= f.select :office_type,
                             [
                                 %w[House House],
                                 %w[Flat Flat],
                                 ['Classic office', 'Classic office']
                             ],
                             id: 'office_type',
                             prompt: 'Select...',
                             class: 'form-control' %>
              </div>
            </div>

            <div class='col-md-4 select'>
              <div class='form-group'>
                <label>Privacy type</label>
                <%= f.select :privacy_type,
                             [
                                 ['Entire place', 'Entire place'],
                                 ['Private room', 'Private room'],
                                 ['Shared place', 'Shared place']
                             ],
                             prompt: 'Select...',
                             class: 'form-control' %>
              </div>
            </div>

            <div class='col-md-4 select'>
              <div class='form-group'>
                <label> How many co-workers ?</label>
                <%= f.select :capacity,
                             [
                                 ['1 co-worker', 1],
                                 ['2 co-workers', 2],
                                 ['3 co-workers', 3],
                                 ['4 co-workers', 4],
                                 ['5 co-workers', 5],
                                 ['6 co-workers', 6]
                             ],
                             prompt: 'Select....',
                             class: 'form-control' %>
              </div>
            </div>

          </div>

          <div class='row'>
            <div class='col-md-4 select'>
              <div class='form-group'>
                <label>Number of board(s)</label>
                <%= f.select :boards_number,
                             [
                                 ['1 board', 1],
                                 ['2 boards', 2],

                                 ['3 boards', 3],
                                 ['4 boards or more', 4]
                             ],
                             prompt: 'Select the number',
                             class: 'form-control' %>
              </div>
            </div>

            <div class='col-md-4 select'>
              <div class='form-group'>
                <label>Number of meeting room(s)</label>
                <%= f.select :meeting_room,
                             [
                                 ['1 meeting room', 1],
                                 ['2 meeting rooms', 2],
                                 ['3 meeting rooms', 3],
                                 ['4 meeting rooms or more', 4]
                             ],
                             prompt: 'Select the number',
                             class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='form-group'>
              <label>Give a name to your co-working</label>
              <%= f.text_field :listing_name,
                               placeholder: 'ex: The best place for concentration',
                               class: 'form-control' %>
            </div>
          </div>

          <div class='row'>
            <div class='form-group'>
              <label>Summary</label>
              <%= f.text_area :summary,
                              rows: 4,
                              placeholder: 'Describe what makes your place special to visitors. ',
                              class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                 <span class="btn btn-default btn-file" onchange="toastr.info('Photos will be uploaded on save')">
                 <i class="fa fa-cloud-upload fa-lg"></i> Upload pictures
                   <%= file_field_tag 'images[]', type: :file, multiple: true %>
                 </span>
              </div>
            </div>
          </div>
          <div id="photos"><%= render partial: 'offices/photos/list', locals: {photos: @office.photos} %></div>

          <div class='row'>
            <div class='form-group'>
              <label>Address</label>
              <%= f.text_field :address,
                               placeholder: 'Where is your place located ?',
                               class: 'form-control',
                               id: 'search_address' %>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-4'>
              <div class='form-group'>
                <%= f.check_box :is_wifi %> Wifi
              </div>

              <div class='form-group'>
                <%= f.check_box :is_tv %> TV
              </div>

              <div class='form-group'>
                <%= f.check_box :is_locker %> Locker
              </div>

              <div class='form-group'>
                <%= f.check_box :is_pet_friendly %> Pet friendly
              </div>
            </div>

            <div class='col-md-4'>
              <div class='form-group'>
                <%= f.check_box :is_kitchen %> Kitchen
              </div>

              <div class='form-group'>
                <%= f.check_box :is_coffee %> Coffee dispenser
              </div>

              <div class='form-group'>
                <%= f.check_box :is_heating %> Heating
              </div>

              <div class='form-group'>
                <%= f.check_box :is_air %> AC
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <div class='form-group'>
                <label>Price per day</label>
                <div class='input-group'>
                  <%= f.text_field :price,
                                   placeholder: 'ex: 25€',
                                   class: 'form-control' %>
                  <div class='input-group-addon'>€</div>
                </div>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='form-group'>
              <%= f.check_box :active %> This place is active
            </div>
          </div>

          <div class='actions text-center'>
            <%= f.submit 'Publish co-working', class: 'btn btn-primary' %>
          </div>
      <% end %>
      <%= nice_display_edit_options %>
    </div>
  </div>
</div>


<script> function initSearch() {
    var searchBox_home = new google.maps.places.SearchBox(document.getElementById('search_address'));
}</script>
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&libraries=places&callback=initSearch"></script>
