<div class="row">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-12 text-center'>
        <%= image_tag first_office_photos(@office, :original), class: 'img-responsive' %>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-3 text-center'>
            <%= image_tag avatar_url(@office.user), class: 'img-circle avatar-large' %>
            <br>
            <br>
            <%= @office.user.fullname %>
          </div>
          <div class='col-md-9'>
            <h4><%= @office.listing_name %></h4>
            <a href="#map" class="sidebar-link"><%= @office.address %></a>
            <a href="#average_rating" class="sidebar-link">
              <span id="average_rating_header" class="average_rating"></span> <%= @reviews.count %>
            </a>
            <div class='row text-center row-space-1'>
              <div class='col-sm-3'>
                <i class='fa fa-home fa-2x'></i>
              </div>
              <div class='col-sm-3'>
                <i class='fa fa-desktop fa-2x'></i>
              </div>
              <div class='col-sm-3'>
                <i class='fa fa-sticky-note fa-2x'></i>
              </div>
              <div class='col-sm-3'>
                <i class='fa fa-calendar fa-2x'></i>
              </div>
            </div>
            <div class='row text-center'>
              <div class='col-sm-3'>
                <%= @office.office_type %>
              </div>
              <div class='col-sm-3'>
                <%= @office.capacity %> <%= @office.capacity > 1 ? 'Desktops' : 'Desktop' %>
              </div>
              <div class='col-sm-3'>
                <%= @office.boards_number %> <%= @office.boards_number > 1 ? 'Boards' : 'Board' %>
              </div>
              <div class='col-sm-3'>
                <%= @office.meeting_room %> <%= @office.meeting_room > 1 ? 'Meeting rooms' : 'Meeting room' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-4 border'>
        <%= render 'reservations/form' %>
      </div>
    </div>


    <div class='row'>
      <div class='col-md-12'>
        <h2>About this place</h2>
        <p><%= @office.summary %></p>
      </div>
    </div>


    <div class='row'>
      <div class='col-md-2'>
        <p>Features</p>
      </div>
      <div class='col-md-10'>
        <div class='row'>
          <div class='col-md-6'>
            <ul class='equipments'>
              <li class='<%= 'text-line-through' unless @office.is_wifi %>'>Wifi</li>
              <li class='<%= 'text-line-through' unless @office.is_tv %>'>TV</li>
              <li class='<%= 'text-line-through' unless @office.is_locker %>'>Locker</li>
              <li class='<%= 'text-line-through' unless @office.is_pet_friendly %>'>Pet friendly</li>
            </ul>
          </div>
          <div class='col-md-6'>
            <ul class='equipments'>
              <li class='<%= 'text-line-through' unless @office.is_kitchen %>'>Kitchen</li>
              <li class='<%= 'text-line-through' unless @office.is_coffee %>'>Coffee</li>
              <li class='<%= 'text-line-through' unless @office.is_heating %>'>Heating</li>
              <li class='<%= 'text-line-through' unless @office.is_air %>'>AC</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= nice_display_of_carousel(@office, :original) %>
      </div>
    </div>

    <!-- Reviews -->

    <div class="row row-space-3">
      <div class="col-md-12">
        <%= render partial: 'offices/partials/comments' %>
      </div>
    </div>

    <div class="row row-space-3">
      <div class="col-md-12">
        <%= nice_display_of_google_maps(@office, '400px') %>
      </div>
    </div>


    <div class="row row-space-3">
      <div class="col-md-12">
        <% office_nearby = @office.nearbys(2).limit(3) unless @office.nearbys(2).blank? %>
        <% if office_nearby.blank? %>
            <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading preview">
                    <p>This place feels lonely, why not had yours?</p>
                  </div>
                  <div class="panel-body">
                    <%= link_to 'Add an place', new_office_path, class: 'btn btn-primary' %><br>
                  </div>
                </div>
              </div>
            </div>
        <% else %>
            <h3>Near this place: </h3>
            <div class="row">
              <% for office in @office.nearbys(2).limit(3) %>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading preview">
                        <%= image_tag first_office_photos(office) %>
                      </div>
                      <div class="panel-body">
                        <%= link_to office.listing_name, office %><br>
                        (at <%= (office.distance*1.6).round(2) %> km)
                      </div>
                    </div>
                  </div>
                  </div>
              <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>