<div class='col-md-3'>
  <ul class='sidebar-list'>
    <li class='sidebar-item'>
      <%= link_to 'Edit my profile', edit_user_registration_path, class: 'sidebar-link active' %>
    </li>
  </ul>
  <br/>
  <%= link_to 'See my profile', user_path(current_user.id), class: 'btn btn-default wide' %>
</div>

<div class='col-md-7 text-center'>

  <div class='panel panel-default'>

    <div class='panel-heading'>Edit my profile</div>

    <div class='panel-body'>

      <div class='container'>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
            <%= render 'shared/devise_errors' %>

            <div class="form-group text-center">
              <%= f.label :avatar %><br/>
              <%= image_tag avatar_url(current_user), type: 'file', class: 'avatar-half', id: 'target' %>
              <span class="btn btn-default btn-file">Upload a picture<%= f.file_field :avatar, id: 'pictureInput' %></span>
            </div>

            <div class='form-group'>
              <%= f.label :fullname %><br/>
              <%= f.text_field :fullname, autofocus: true, class: 'form-control', placeholder: 'Full name' %>
            </div>

            <div class='form-group'>
              <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone number' %>
            </div>
            <div class='form-group'>

              <%= f.text_area :description, rows: 5, col: 25, class: 'form-control', placeholder: 'My Description' %>

            </div>

            <div class='form-group'>
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class='form-group'>
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'You password' %>
              <% if @minimum_password_length %>
                  <br/>
                  <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class='form-group'>
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Repeat your password' %>
            </div>

            <div class='actions'>
              <%= f.submit 'Update' %>
            </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure?'}, method: :delete %></p>

        <%= link_to 'Back', :back %>
      </div>
    </div>
  </div>
</div>