<div id='wrapper'>
  <div id='sidebar'>
    <div id='widget' class="search-map">
      <script>
          function initMap() {
              <% if @arr_offices.length > 0 %>
              var uluru = {lat: <%= @arr_offices[0].latitude %>, lng: <%= @arr_offices[0].longitude %>};
              var map = new google.maps.Map(document.getElementById('widget'), {
                  zoom: 11,
                  center: uluru
              });
              <% else %>
              var uluru = {lat: 48.866667, lng: 2.333333};
              var map = new google.maps.Map(document.getElementById('widget'), {
                  zoom: 4,
                  center: uluru
              });
              <% end %>

              <% @arr_offices.each do |office| %>
              var marker = new google.maps.Marker({
                  position: {lat: <%= office.latitude %>, lng: <%= office.longitude %>},
                  map: map,
                  title: "<%= office.listing_name %>"
              });
              <% end %>
          }
      </script>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&libraries=places&callback=initMap">
      </script>
    </div>
  </div>
  <div id='article'>
    <div class='row'>
      <div class='col-md-12'>
        <%= search_form_for @search, url: search_path do |f| %>
            <div class='row'>
              <div class='col-md-3'>
                <%= text_field_tag :start_date, params[:start_date], placeholder: 'From', class: 'form-control' %>
              </div>
              <div class='col-md-3'>
                <%= text_field_tag :end_date, params[:end_date], placeholder: 'to', class: 'form-control' %>
              </div>
              <div class='col-md-3'>
                <%= f.text_field :price_gteq, placeholder: 'Min budget', class: 'form-control' %>
              </div>
              <div class='col-md-3'>
                <%= f.text_field :price_lteq, placeholder: 'Max budget', class: 'form-control' %>
              </div>
            </div>

            <hr>

            <div class='row'>
              <div class='col-md-4'>
                <%= check_box_tag 'q[privacy_type_eq_any][]', 'Full place' %> Full place
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[privacy_type_eq_any][]', 'Private room' %> Private room
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[privacy_type_eq_any][]', 'Shared place' %> Shared place
              </div>
            </div>

            <hr>

            <div class='row'>
              <div class='col-md-4 select'>
                <div class='form-group'>
                  <label>Person capacity ?</label>
                  <%= f.select :capacity_gteq, [['1 co-worker', 1], ['2 co-workers', 2],
                                                   ['3 co-workers', 3], ['4 co-workers', 4], ['5 co-workers', 5],
                                                   ['6 co-workers', 6]], prompt: 'Select...',
                               class: 'form-control' %>
                </div>
              </div>

              <div class='col-md-4 select'>
                <div class='form-group'>
                  <label>Number of boards ?</label>
                  <%= f.select :boards_number_gteq, [['1', 1], ['2', 2],
                                                ['3', 3], ['4', 4]], prompt: 'Select...',
                               class: 'form-control' %>
                </div>
              </div>

              <div class='col-md-4 select'>
                <div class='form-group'>
                  <label>Meeting room ?</label>
                  <%= f.select :meeting_room_gteq, [['1', 1], ['2', 2],
                                                 ['3', 3], ['4', 4]], prompt: 'Select...',
                               class: 'form-control' %>
                </div>
              </div>
            </div>

            <hr>

            <div class='row'>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_wifi_eq]', true %> Wifi
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_tv_eq]', true %> TV
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_locker_eq]', true %> Locker
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_pet_friendly_eq]', true %> Pet friendly
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_kitchen_eq]', true %> Kitchen
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_coffee_eq]', true %> Coffee
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_heating_eq]', true %> Heating
              </div>
              <div class='col-md-4'>
                <%= check_box_tag 'q[is_air_eq]', true %> AC
              </div>
            </div>

            <br>

            <div class='row'>
              <%= f.submit 'Search', class: 'btn btn-primary' %>
            </div>


        <% end %>

        <hr>


        <div class='row'>
          <% if @offices.empty? %>
              No ad matches your criteria.
          <% else %>
              <% @offices.each do |office| %>
                  <div class='col-md-4'>
                    <%= link_to office do %>
                        <div class='panel panel-link panel-default'>
                          <div class='panel-heading preview'>
                            <%= image_tag first_office_photos(office, :medium) %>
                          </div>
                          <div class='panel-body'>
                            <%= image_tag avatar_url(office.user), class: 'img-circle avatar-small' %>
                            <%= office.listing_name %>
                          </div>
                        </div>
                    <% end %>
                  </div>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        $('#start_date').datepicker({
            dateFormat: 'dd/mm/yy',
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            minDate: 0,
            maxDate: '3m',
            onSelect: function (selected) {
                var newdate = new Date($('#start_date').datepicker('getDate'));
                newdate.setDate(newdate.getDate() + 1);
                $('#end_date').datepicker('option', 'minDate', newdate);
            }
        });

        $('#end_date').datepicker({
            dateFormat: 'dd/mm/yy',
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            minDate: 0,
            maxDate: '3m',
            onSelect: function (selected) {
                $('#start_date').datepicker('option', 'maxDate', selected);
            }
        });
    })
</script>