<div class='col-md-3'>
  <%= render partial: 'layouts/sub-nav' %>
</div>
<div class='col-md-9'>
  <div class='panel panel-default'>
    <div class='panel-heading'>My trips</div>
    <div class='panel-body'>
      <% @trips.order('id DESC').each do |trip| %>
          <div class='row'>
            <div class='col-md-2'>
              From <%= trip.start_date.strftime('%d.%m.%y') %> to <%= trip.end_date.strftime('%d.%m.%y') %>
            </div>
            <div class='col-md-6'>
              <%= link_to room_path(trip.room) do %>
                  <%= image_tag first_room_photos(trip.room, :thumb) %>
              <% end %>
            </div>
            <div class='col-md-2'>
              <%= link_to user_path(trip.room.user) do %>
                  <%= image_tag avatar_url(trip.room.user), class: 'img-circle avatar-medium' %>
              <% end %>
            </div>
            <div class='col-md-2 right'>
              <h4><%= trip.total %> €</h4>
            </div>
          </div>
          <hr>
      <% end %>
    </div>
  </div>
</div>